 /* Countdown CSS */

 .countdown-box {
    display: flex;
    justify-content: center;
}

#clock-div {
    font-family: 'Times New Roman', Times, serif;
    color: #FCFC00;
    display: inline-block;
}

.box {
    background-color: #F34646;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    width: 257px;
    height: 112px;
    text-align: center;
    margin: 0px 10px;
}

.small-text {
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
}

#day,
#hour,
#minute,
#second {
    color: #FCFC00;
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
    transform: scale(.5, 2);
}


/* End of Countdown CSS */

@media only screen and (max-width:768px) {
    .box {
        padding: 7px !important;
        width: auto !important;
        height: auto !important;
        margin: 0px 5px !important;
    }

    .time-value {font-size: 45px !important;}

    .small-text {font-size: 1rem !important;}
}

@media only screen and (min-width:769px) and (max-width:1119px) {
    .box {
        padding: 7px !important;
        width: 22vw !important;
        height: auto !important;
        margin: 0px 5px !important;
    }

    .time-value {font-size: 45px !important;}
    
    .small-text {font-size: 1rem !important;}
}